@media (min-width: 0px) and (max-width: 450px) {
  .blackout {
    background-color: black;
    width: 135%;
    height: 400%;
    z-index: 3;
    position: absolute;
    animation: light-off-blackout 5s infinite alternate;
  }

  .navbar-div {
    gap: 3rem;
  }

  .navbar-text {
    top: 35%;
    font-size: 1.1rem;
  }
  .navbar-text.start {
    animation: flicker 5s infinite alternate;
    font-size: 1.8rem;
    top: 24%;
  }
  /* start */
  .photo {
    position: absolute;
    top: 21%;
    left: 28.5%;
    width: 15rem;
    height: 15rem;
    z-index: -1;
  }
  .photo-border {
    position: absolute;
    top: 12%;
    left: 4%;
  }
  .about-me {
    font-size: 1.8rem;
    position: absolute;
    left: 11%;
    top: 66%;
    width: 32rem;
  }
  .backneon {
    border: none;
    height: 26rem;
    max-width: fit-content;
    width: 35rem;
  }
  /* second part */
  .line {
    width: 22vh;
    z-index: -1;
    background-size: 700% 100%;
    opacity: 0;
    transition: 2s;
  }
  .line.left {
    left: 12%;
  }

  .line.right {
    position: absolute;

    left: 200%;
  }
  .what-i-use {
    font-size: 3rem;
    font-family: 'Bulzing';
    position: relative;
    left: 0rem;
    width: fit-content;
  }
  .what-i-use-text {
    left: 12rem;
    width: fit-content;
  }
  .html,
  .css,
  .javascript,
  .react,
  .git,
  .premiere,
  .photoshop,
  .illustrator,
  .office {
    width: 8rem;
  }

  .html,
  .office,
  .premiere {
    left: 23%;
  }
  .premiere {
    top: 26rem;
  }
  .office {
    top: 13rem;
  }

  .css,
  .react,
  .photoshop {
    left: 71%;
  }

  .react {
    top: 13rem;
  }

  .photoshop {
    top: 26rem;
  }

  .javascript,
  .git,
  .illustrator {
    left: 116%;
  }

  .git {
    top: 13rem;
  }

  .illustrator {
    top: 26rem;
  }

  /* -------------------------- third part ---------------------------*/
  .third-part {
    position: absolute;
    top: 210vh;
    width: 100%;
    height: 100vh;
  }

  .ttrpg,
  .guess,
  .searcher {
    width: 510px;
    height: 360px;
    position: absolute;
  }

  .hovering {
    position: absolute;
    width: 510px;
    height: 360px;
    font-size: 10rem;
    left: -2%;
  }

  .hovering.guess {
    left: -2%;
  }

  .ttrpg-container {
    position: absolute;
    width: 118%;
    height: 35%;
    left: 10.2%;
  }
  .ttrpg,
  .guess,
  .searcher {
    left: -2%;
  }
  .ttrpg-text {
    top: 24rem;
    left: -2%;
    font-size: 1.6rem;
  }

  .guess-container {
    position: absolute;
    top: 90%;
    width: 125%;
    height: 35%;
    left: 10.2%;
  }

  .guess-text {
    font-size: 1.6rem;
    left: -2%;
    max-width: 96%;
    top: 24rem;
  }

  .searcher-container {
    position: absolute;
    top: 165%;
    width: 125%;
    height: 35%;
    left: 10.2%;
  }

  .searcher-text {
    font-size: 1.6rem;
    left: -2%;
    top: 24rem;
    width: 97%;
  }

  /* contact */
  .contact-section {
    position: absolute;
    top: 440vh;
  }

  .fourth-part {
    width: 135%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    gap: 7%;
    position: absolute;
    top: 450vh;
    background-color: #000000;
  }

  .contacts {
    position: relative;
    top: 20%;
    width: fit-content;
    height: fit-content;
  }
}
