@media (min-width: 1440px) and (max-width: 1919px) {
  .navbar-div {
    gap: 10rem;
  }

  .photo-border {
    position: absolute;
    top: 17%;
    left: 1%;
  }
  .about-me {
    font-size: 2.5rem;
    position: absolute;
    left: 51%;
    top: 42.5%;
    width: 40rem;
    word-wrap: break-word;
    text-align: justify;
  }

  .line.left {
    left: 12%;
  }

  .line.right {
    left: 58%;
  }

  .what-i-use-text {
    position: relative;
    left: 43%;
    width: fit-content;
  }

  /* -------------------------- third part ---------------------------*/
  .ttrpg,
  .guess,
  .searcher {
    width: 430px;
    height: 280px;
    position: absolute;
  }

  .hovering {
    position: absolute;
    width: 430px;
    height: 280px;
    font-size: 8rem;
  }

  .hovering.guess {
    left: 59%;
  }

  .ttrpg-container {
    position: absolute;
    width: 75.5%;
    height: 35%;
    left: 12.1%;
  }
  .ttrpg-text {
    left: 41%;
    position: inherit;
    font-size: 2.2rem;
    text-align: justify;
  }

  .guess-container {
    position: absolute;
    top: 52%;
    left: 12.5%;
    width: 77%;
    height: 35%;
  }

  .guess {
    position: absolute;
    left: 59%;
  }

  .guess-text {
    position: inherit;
    font-size: 2.2rem;
    max-width: 57%;
    word-wrap: break-word;
    text-align: justify;
  }

  .searcher-container {
    position: absolute;
    top: 92%;
    left: 12.1%;
    width: 75.5%;
    height: 35%;
  }

  .searcher-text {
    position: inherit;
    font-size: 2.2rem;
    word-wrap: break-word;
    text-align: justify;
    left: 42%;
  }
}
