@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: CyberPunk;
  src: url(./res/fonts/Valorax-lg25V.otf);
}

@font-face {
  font-family: Bulzing;
  src: url(./res/fonts/Bulzingregular-JRoYx.otf);
}

@font-face {
  font-family: Libre Baskerville;
  src: url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
}

body {
  color: rgb(15, 203, 255);

  font-family: 'Libre Baskerville';
  background-color: #000b0e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='369' height='369' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
body::-webkit-scrollbar {
  display: none;
}
/* ------------------------------NAVBAR------------------------------ */

.blackout {
  background-color: black;
  width: 100%;
  height: 400%;
  z-index: 3;
  position: absolute;
  animation: light-off-blackout 5s infinite alternate;
}

@keyframes light-off-blackout {
  33%,
  48%,
  50%,
  62%,
  75%,
  77%,
  79% {
    opacity: 0.9;
  }
  0%,
  32%,
  34%,
  47%,
  49%,
  51%,
  61%,
  63%,
  74%,
  76%,
  78%,
  80% {
    opacity: 1;
  }
}

.navbar-div {
  position: fixed;
  background-color: #001212;
  z-index: 999;
  font-family: 'CyberPunk';
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 13rem;
  box-shadow: 1px 2px 4px 0px rgba(0, 255, 255, 0.7), 2px 4px 8px 0px rgba(0, 255, 255, 0.7), 2px 4px 16px 0px rgba(0, 255, 255, 0.7),
    4px 8px 32px 0px rgba(0, 255, 255, 0.7);
}
.navbar-div.light-off-navbar {
  box-shadow: none;
  animation: light-off-navbar 5s infinite alternate;
}

@keyframes light-off-navbar {
  33%,
  48%,
  50%,
  62%,
  75%,
  77%,
  79% {
    box-shadow: 0px 0px 500px 100px rgba(0, 255, 255, 0.7);
  }
  0%,
  32%,
  34%,
  47%,
  49%,
  51%,
  61%,
  63%,
  74%,
  76%,
  78%,
  80% {
    box-shadow: none;
  }
}

.navbar-text {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  position: relative;
  top: 20%;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

.navbar-text.start {
  animation: flicker 5s infinite alternate;
  font-size: 2.5rem;
  top: 10%;
}

.navbar-text.light-off-start {
  color: black;
  animation: light-off-start 5s infinite alternate;
}

@keyframes light-off-start {
  0%,
  25%,
  27%,
  33%,
  35%,
  37%,
  48%,
  50%,
  52%,
  54% {
    color: black;
    text-shadow: none;
  }
  26%,
  34%,
  36%,
  49%,
  51%,
  53%,
  55%,
  100% {
    color: white;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

.navbar-text.light-off-tech {
  color: black;
  animation: light-off-tech 5s infinite alternate;
}

@keyframes light-off-tech {
  0%,
  35%,
  38%,
  42%,
  44%,
  46%,
  52%,
  60% {
    color: black;
    text-shadow: none;
  }
  36%,
  37%,
  43%,
  45%,
  53%,
  61%,
  100% {
    color: white;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

.navbar-text.light-off-projects {
  color: black;
  animation: light-off-projects 5s infinite alternate;
}

@keyframes light-off-projects {
  0%,
  45%,
  47%,
  49%,
  51%,
  67%,
  69%,
  79% {
    color: black;
    text-shadow: none;
  }
  46%,
  48%,
  50%,
  68%,
  70%,
  80%,
  100% {
    color: white;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

.navbar-text.light-off-contact {
  color: black;
  animation: light-off-contact 5s infinite alternate;
}

@keyframes light-off-contact {
  0%,
  55%,
  57%,
  63%,
  65%,
  74%,
  76%,
  78%,
  80%,
  82% {
    color: black;
    text-shadow: none;
  }
  56%,
  64%,
  75%,
  77%,
  79%,
  81%,
  83%,
  100% {
    color: white;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* first section */

.photo {
  position: absolute;
  top: 21%;
  left: 28.5%;
  width: 22rem;
  height: 22rem;
  border-radius: 300px 300px 300px 300px;
  z-index: -1;
}
.photo-border {
  position: absolute;
  top: 17%;
  left: 10%;
}
.about-me {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 32%;
  width: 50rem;
  word-wrap: break-word;
  text-align: justify;
}

/* second part */
.tech-section {
  position: absolute;
  top: 100vh;
}

.second-part {
  position: absolute;
  top: 110vh;
  width: 100%;
  height: 100vh;
}

.line {
  content: '';
  position: absolute;
  top: 1.1rem;
  height: 0.5rem;
  width: 60vh;
  z-index: -1;
  background-size: 700% 100%;
  opacity: 0;
  transition: 2s;
}
.line.show {
  opacity: 1;
}

.line.left {
  left: 14%;
  animation: animatedgradient 3s linear infinite;
  background-image: linear-gradient(90deg, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #a200ad, #ef4e7b, #a166ab);
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.line.right {
  background-image: linear-gradient(90deg, #a166ab, #ef4e7b, #a200ad, #07b39b, #1098ad, #5073b8, #a166ab, #ef4e7b);

  left: 57.5%;
  animation: animatedgradientright 3s linear infinite;
}

@keyframes animatedgradientright {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.what-i-use {
  font-size: 3rem;
  font-family: 'Bulzing';
}
.what-i-use-text {
  position: relative;
  left: 45%;
  width: fit-content;
}
.icons-apps {
  top: 2%;
  position: relative;
}

.html {
  position: absolute;
  left: 18.5%;
  transform: translate(-50%, 0);

  filter: drop-shadow(0rem 0rem 1.3rem #f13000);
  animation: htmlpulse 2.4s infinite alternate;
}
.html.flick {
  animation: htmlflicker 5s infinite alternate;
}

@keyframes htmlpulse {
  0% {
    filter: drop-shadow(0rem 0rem 1.3rem #f13000);
  }
  100% {
    filter: drop-shadow(0rem 0rem 1.9rem #f13000);
  }
}

@keyframes htmlflicker {
  26%,
  28%,
  30%,
  32%,
  44%,
  47%,
  49%,
  69%,
  71%,
  73%,
  100% {
    opacity: 1;
  }
  0%,
  25%,
  27%,
  29%,
  31%,
  33%,
  42%,
  46%,
  48%,
  70%,
  72% {
    opacity: 0;
  }
}

.css {
  position: absolute;
  left: 34.5%;
  transform: translate(-50%, 0);

  filter: drop-shadow(0rem 0rem 1.6rem #0081f1);
  animation: csspulse 2.5s infinite alternate;
}
.css.flick {
  animation: cssflicker 5s infinite alternate;
}

@keyframes csspulse {
  0% {
    filter: drop-shadow(0rem 0rem 1.6rem #0081f1);
  }
  100% {
    filter: drop-shadow(0rem 0rem 2.2rem #0081f1);
  }
}

@keyframes cssflicker {
  26%,
  36%,
  38%,
  40%,
  63%,
  80%,
  84%,
  100% {
    opacity: 1;
  }
  11%,
  25%,
  28%,
  34%,
  41%,
  62%,
  82% {
    opacity: 0.5;
  }
  0%,
  10%,
  27%,
  35%,
  37%,
  39% {
    opacity: 0;
  }
}

.javascript {
  position: absolute;
  left: 50.5%;
  filter: drop-shadow(0rem 0rem 1.5rem #f1ed00);
  transform: translate(-50%, 0);
  animation: javapulse 3s infinite alternate;
}
.javascript.flick {
  animation: javaflicker 5s infinite alternate;
}

@keyframes javapulse {
  0% {
    filter: drop-shadow(0rem 0rem 1.5rem #f1ed00);
  }
  100% {
    filter: drop-shadow(0rem 0rem 2rem #f1ed00);
  }
}

@keyframes javaflicker {
  24%,
  26%,
  30%,
  33%,
  64%,
  66%,
  68%,
  100% {
    opacity: 1;
  }
  0%,
  22%,
  25%,
  27%,
  29%,
  31%,
  65%,
  67% {
    opacity: 0;
  }
}

.react {
  position: absolute;
  left: 66.5%;
  transform: translate(-50%, 0);

  filter: drop-shadow(0rem 0rem 2.2rem #02c4ff);
  animation: reactpulse 2.7s infinite alternate;
}
.react.flick {
  animation: reactflicker 5s infinite alternate;
}

@keyframes reactpulse {
  0% {
    filter: drop-shadow(0rem 0rem 2.2rem #02c4ff);
  }
  100% {
    filter: drop-shadow(0rem 0rem 1.5rem #02c4ff);
  }
}

@keyframes reactflicker {
  35%,
  37%,
  39%,
  41%,
  43%,
  45%,
  47%,
  49%,
  67%,
  100% {
    opacity: 1;
  }
  34%,
  36%,
  38%,
  40%,
  42%,
  44%,
  46%,
  48%,
  50%,
  66% {
    opacity: 0.5;
  }
  0%,
  33% {
    opacity: 0;
  }
}

.git {
  position: absolute;
  left: 82.5%;
  transform: translate(-50%, 0);

  filter: drop-shadow(0rem 0rem 2rem #ff2002);
  animation: gitpulse 3s infinite alternate;
}
.git.flick {
  animation: gitflicker 5s infinite alternate;
}

@keyframes gitpulse {
  0% {
    filter: drop-shadow(0rem 0rem 2rem #ff2002);
  }
  100% {
    filter: drop-shadow(0rem 0rem 1.2rem #ff2002);
  }
}

@keyframes gitflicker {
  38%,
  47%,
  49%,
  51%,
  91%,
  93%,
  95%,
  100% {
    opacity: 1;
  }
  16%,
  26%,
  37%,
  77%,
  80% {
    opacity: 0.5;
  }
  8%,
  15% {
    opacity: 0.2;
  }
  0%,
  7%,
  48%,
  50%,
  52%,
  76%,
  81%,
  90%,
  92%,
  94% {
    opacity: 0;
  }
}

.second-line-icons {
  position: inherit;
  top: 15rem;
}

.premiere {
  position: absolute;
  left: 26.5%;
  transform: translate(-50%, 0);

  filter: drop-shadow(0rem 0rem 2rem #0003ab);
  animation: premierepulse 2.5s infinite alternate;
}
.premiere.flick {
  animation: premiereflicker 5s infinite alternate;
}

@keyframes premierepulse {
  0% {
    filter: drop-shadow(0rem 0rem 2rem #0003ab);
  }
  100% {
    filter: drop-shadow(0rem 0rem 1.2rem #0003ab);
  }
}

@keyframes premiereflicker {
  12%,
  14%,
  16%,
  18%,
  26%,
  28%,
  30%,
  46%,
  48%,
  50%,
  52%,
  65%,
  67%,
  69%,
  86%,
  88%,
  90%,
  96%,
  98%,
  100% {
    opacity: 1;
  }
  11%,
  13%,
  15%,
  17% {
    opacity: 0.5;
  }
  0%,
  10%,
  19%,
  25%,
  27%,
  29%,
  31%,
  45%,
  47%,
  49%,
  51%,
  53%,
  64%,
  66%,
  68%,
  70%,
  85%,
  87%,
  89%,
  91%,
  95%,
  97% {
    opacity: 0;
  }
}

.photoshop {
  position: absolute;
  left: 43%;
  transform: translate(-50%, 0);

  filter: drop-shadow(0rem 0rem 2.3rem #003a86);
  animation: photoshoppulse 3.2s infinite alternate;
}
.photoshop.flick {
  animation: photoshopflicker 5s infinite alternate;
}

@keyframes photoshoppulse {
  0% {
    filter: drop-shadow(0rem 0rem 2.3rem #003a86);
  }
  100% {
    filter: drop-shadow(0rem 0rem 1.4rem #003a86);
  }
}

@keyframes photoshopflicker {
  20%,
  26%,
  28%,
  41%,
  43%,
  55%,
  64%,
  78%,
  80%,
  82%,
  97%,
  99%,
  100% {
    opacity: 1;
  }
  16%,
  19%,
  30%,
  40%,
  42%,
  56%,
  60%,
  62%,
  79%,
  81% {
    opacity: 0.5;
  }
  0%,
  15%,
  27%,
  29%,
  61%,
  63%,
  98% {
    opacity: 0;
  }
}

.illustrator {
  position: absolute;
  left: 59%;
  transform: translate(-50%, 0);

  filter: drop-shadow(0rem 0rem 2.6rem #c14000);
  animation: illustratorpulse 2.8s infinite alternate;
}
.illustrator.flick {
  animation: illustratorflicker 5s infinite alternate;
}

@keyframes illustratorpulse {
  0% {
    filter: drop-shadow(0rem 0rem 2.6rem #c14000);
  }
  100% {
    filter: drop-shadow(0rem 0rem 1.4rem #c14000);
  }
}

@keyframes illustratorflicker {
  66%,
  72%,
  100% {
    opacity: 1;
  }
  47%,
  56%,
  64%,
  70% {
    opacity: 0.8;
  }
  38%,
  46%,
  58%,
  68% {
    opacity: 0.6;
  }
  31%,
  37%,
  62% {
    opacity: 0.4;
  }
  25%,
  30%,
  60% {
    opacity: 0.2;
  }
  0%,
  24%,
  57%,
  59%,
  61%,
  63%,
  65%,
  67%,
  69%,
  71% {
    opacity: 0;
  }
}

.office {
  position: absolute;
  left: 75%;
  transform: translate(-50%, 0);

  filter: drop-shadow(0rem 0rem 0.7rem #ff5100);
  animation: officepulse 3s infinite alternate;
}
.office.flick {
  animation: officeflicker 5s infinite alternate;
}

@keyframes officepulse {
  0% {
    filter: drop-shadow(0rem 0rem 0.7rem #ff5100);
  }
  100% {
    filter: drop-shadow(0rem 0rem 1.2rem #ff5100);
  }
}

@keyframes officeflicker {
  8%,
  14%,
  16%,
  18%,
  20%,
  26%,
  29%,
  32%,
  34%,
  36%,
  50%,
  60%,
  63%,
  78%,
  81%,
  84%,
  87%,
  90%,
  100% {
    opacity: 1;
  }
  21%,
  23%,
  25%,
  28%,
  31%,
  37%,
  61%,
  79%,
  82%,
  85%,
  88% {
    opacity: 0.5;
  }

  0%,
  7%,
  15%,
  17%,
  19%,
  24%,
  27%,
  30%,
  33%,
  35%,
  38%,
  49%,
  62%,
  80%,
  83%,
  86%,
  89% {
    opacity: 0;
  }
}

/* -------------------------- third part ---------------------------*/
.third-part {
  position: absolute;
  top: 210vh;
  width: 100%;
  height: 100vh;
}

.pojects-section {
  position: absolute;
  top: 200vh;
}

.ttrpg,
.guess,
.searcher {
  width: 560px;
  height: 360px;
  position: absolute;
}

.hovering {
  position: absolute;
  width: 560px;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 10rem;
  color: #ffffff71;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.1s;
}
.hovering:hover {
  opacity: 1;
}

.hovering.guess {
  left: 59%;
}

.hovering-text {
  transform: rotate(-30deg);
}

.ttrpg-container {
  position: absolute;
  width: 73%;
  height: 35%;
  left: 14%;
}
.ttrpg-text {
  left: 42%;
  position: inherit;
  font-size: 2.5rem;
  text-align: justify;
}

.guess-container {
  position: absolute;
  top: 45%;
  left: 14%;
  width: 73%;
  height: 35%;
}

.guess {
  position: absolute;
  left: 59%;
}

.guess-text {
  position: inherit;
  font-size: 2.5rem;
  max-width: 57%;
  word-wrap: break-word;
  text-align: justify;
}

.searcher-container {
  position: absolute;
  top: 85%;
  left: 14%;
  width: 73%;
  height: 35%;
}

.searcher-text {
  position: inherit;
  font-size: 2.5rem;
  word-wrap: break-word;
  text-align: justify;
  left: 42%;
}

/* contact */
.contact-section {
  position: absolute;
  top: 330vh;
}

.fourth-part {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  gap: 13%;
  position: absolute;
  top: 350vh;
  background-color: #000b0e;
}

.contacts {
  position: relative;
  bottom: 5%;
  width: fit-content;
  height: fit-content;
}

.git-link {
  color: inherit; /* Dziedziczy kolor tekstu z rodzica */
  text-decoration: none; /* Usuwa podkreślenie linku */
}
.git-link:hover {
  color: rgb(149, 0, 104); /* Wybierz dowolny kolor podświetlenia */
}
